* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000000;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background: #222222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}

.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 41px;
}

.header__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 33px;
}

.main-info {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
    background: #F1E4E6;
}

.pink-text {
    color: #F16D7F;
    ;
}

.main-info__img {
    width: 50%;
}

.main-info__text {
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
    margin-top: 38%;
}

.main-info__text__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.main-info__text__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.info-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 64px;
    padding-bottom: 96px;
}

.card {
    position: relative;
}

.card-big {
    grid-column: 1 / -1;
}

.card__img__text {
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    flex-direction: column;
    justify-content: center
}

.card-info {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.featured-items {
    margin-bottom: 96px;
    text-align: center;
}

.featured-items__title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.featured-items__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;
}

.featured-items__cards {
    padding-top: 48px;
    padding-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-items: center;
    gap: 30px;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 360px;
    background-color: #F8F8F8;
    box-sizing: border-box;
}

.product__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    align-items: flex-start;
}

.product__title {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.product__description {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    max-width: 316px;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 16px;
}

.product__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.featured-items__button {
    border: 1px solid #FF6A6A;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 15px 39px;
    background: none;
}

.featured-items__button:hover {
    cursor: pointer;
    background-color: #F16D7F;
    color: #FFFFFF;
}

.advantages {
    background-color: #222224;
    display: flex;
    padding: 104px 230px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.advantages__card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 360px;
    align-items: center;
}

.advantages__card__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}

.advantages__card__description {
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.subscribe {
    padding-top: 96px;
    padding-bottom: 156px;
    background-repeat: no-repeat;
    background-image: url(./img/subscribe-background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.subscribe__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    gap: 30px;
}

.subscribe__quote {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 256px;
}

.subscribe-button__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.subscribe-button__subheading {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
}

.subscribe-button__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.subscribe-button__email {
    margin-top: 25px;
    border-radius: 15px 0 0 15px;
    border: none;
    padding: 16px 0 16px 22px;
    background: #E1E1E1;
}

.subscribe-button__email::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
}

.subscribe-button__button {
    background: #F16D7F;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border-radius: 0 15px 15px 0;
    padding: 16px 20px;
    border: none;
    margin-top: 25px;
}

.subscribe-button__button:hover {
    cursor: pointer;
}

.footer {
    background: #222224;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.icons {
    padding: 0.5em;
    background-color: #FFFFFF;
    display: block;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.icons:hover {
    background-color: #F16D7F;
}

.icons:hover i {
    color: #FFFFFF;
}

.product:hover .product__img {
    filter: brightness(0.4);
}

.product:hover .product__add-to-cart {
    display: flex;
}

.product__add-to-cart {
    width: 139px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: none;
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #FFFFFF;
    flex-direction: row;
    align-items: center;
    gap: 11px;
    justify-content: center;
}

.product__add-to-cart:hover {
    box-shadow: 0 0 5px #FFFFFF;
}